{% extends "base_form.html" %}

{% block title %} Simple channel template  {% endblock %}

{% block content%}
	
	<div class="channel_details">
		{{channel.name}}
	</div>

	<div class="rss_urls">
		{% for rss_url in rss_urls %}
			<p><label>url:  {{rss_url.url}}</label></p>
		{% endfor %}	
	</div>
	<p>
	<div id="rss_feeds">
		{%for feed in feeds%}
			<div id="rss_feed">
				<p>
				<div class="rss_feed_title">{{feed.title}}</div>
				</p>
				<p>
				<div class="rss_feed_content">{{feed.summary}}</div>
				</p>
			</div>
		{%endfor%}
	</div>
	</p>

{% endblock %}
